*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Comic-Sans-MS", "Trebuchet MS", sans-serif;
  font-size: 16px;
  text-align: center;
}

#staticStuff h4 {
  font-size: 16px;
  margin-bottom: 40px;
}

.hidden {
  visibility: hidden;
}

.quizMode {
  text-align: left;
}

.answers {
  text-decoration: none;
}

.btnAnswer {
  width: 200px;
  height: 30px;
  border-style: dashed;
  padding: 2px;
  /* float: left; */
  margin: 2px;
  text-align: left;
}
